{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} CV{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('cv') }}
    {% endblock %}


{% block body %}
    <div class="content-container">

        <h1 class="d-none">Curriculum Vitae</h1>
        <h2 class="font-weight-bold text-dark text-center pt-5">Compétences</h2>

        <div class="container my-5">
            <div class="row justify-content-center">
                {% for name, skillList in skills %}
                    <div class="col-lg-4 col-sm-6 col-xs-12 ">
                        <div class="card my-2 mx-1">
                            <div class="card-body">
                                <div class="card-title text-center pt-3">
                                    <h4 class="card-title d-inline font-weight-bold">{{ name }}</h4>
                                </div>
                                <div class="card-body">

                                <ul class="list-group list-group-flush">
                                {% for skill in skillList %}
                                    <li class="list-group-item">
                                    <div class="d-flex">
                                        <img class="skill-icon d-inline" src="/uploads/images/icons/{{ skill.icon }}" alt="{{ skill.name }} picture">
                                        <p class="card-subtitle font-weight-bold pt-2 pl-2">{{ skill.name }}</p>
                                    </div>
                                    </li>
                                {% endfor %}
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <h2 class="font-weight-bold text-dark text-center py-5">Expériences & Formations</h2>

        <div class="container">

            <div class="main-timeline my-5">

                {% for xp in cv %}
                <!-- start experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                                <span class="date">
                                    <span class="year pt-2">{{ xp.startingDate|date('Y') }}</span>
                                </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title mb-2 pt-3">{{ xp.title }}</h5>
                        <h5 class="title mb-2 text-secondary">{{ xp.place }}</h5>
                        <p class="description">
                            {{ xp.resume }}
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
                {% endfor %}


            </div>
        </div>
        <div class="text-center pt-5 pb-5">
            <a href="{{ asset('build/images/CV_JulieRebeyrolle.pdf') }}" class="btn btn-primary" target="_blank">
                Télécharger mon CV complet
            </a>
        </div>

    </div>
{% endblock %}

