{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} CV{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('cv') }}
    {% endblock %}


{% block body %}
    <div class="content-container">

        <h1 class="d-none">Curriculum Vitae</h1>
        <h2 class="font-weight-bold text-dark text-center">Compétences</h2>
        <h2 class="font-weight-bold text-dark text-center py-5">Expériences & Formations</h2>

        <div class="container">

            <div class="main-timeline my-5">

                {% for xp in cv %}
                <!-- start experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                                <span class="date">
                                    <span class="year pt-2">{{ xp.startingDate|date('Y') }}</span>
                                </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title mb-2 pt-3">{{ xp.title }}</h5>
                        <h5 class="title mb-2 text-secondary">{{ xp.place }}</h5>
                        <p class="description">
                            {{ xp.resume }}
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}

