{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Portfolio index{% endblock %}

{% block body %}

<div class="content-container container">
    <h1 class="font-weight-bold text-dark text-center pt-5 pb-2">Portfolio</h1>

    <div class="text-center py-5">
        <a href="{{ path('admin_portfolio_new') }}" class="btn btn-secondary">Ajouter un nouveau projet</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Resume</th>
                <th>Technos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.id }}</td>
                <td>{{ portfolio.name }}</td>
                <td>{{ portfolio.date ? portfolio.date|date('Y-m') : '' }}</td>
                <td>{{ portfolio.resume }}</td>
                <td>{% for techno in portfolio.technos %}{{ techno.name }} {% endfor%} </td>

                <td>
                    <a href="{{ path('admin_portfolio_show', {'id': portfolio.id}) }}">show</a>
                    <a href="{{ path('admin_portfolio_edit', {'id': portfolio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun projet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
