{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Portfolio{% endblock %}

{% block body %}

<div class="content-container container">
    <h1 class="font-weight-bold text-dark text-center pt-5 pb-5">Portfolio</h1>

    <div class="my-5 container">
        <div class="row justify-content-center">
            {% for portfolio in portfolios %}
                <div class="col-lg-4 col-sm-6 col-xs-12 ">
                    <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}" class="text-decoration-none">
                    <div class="card my-2 mx-1">
                            <div class="card-header p-0 pt-2">
                                <div class="text-center py-2">
                                    <h4 class="card-title font-weight-bold">{{ portfolio.name }}</h4>
                                </div>
                            </div>
                            <img class="img-thumbnail card-img-bottom" src="/uploads/images/covers/{{ portfolio.coverPicture }}" alt="{{ portfolio.name }} picture">
                    </div>
                    </a>

                </div>
            {% endfor %}
        </div>
    </div>


{#    {% for portfolio in portfolios %}
    <td>{{ portfolio.id }}</td>
    <td>{{ portfolio.name }}</td>
    <td>{{ portfolio.date ? portfolio.date|date('Y-m') : '' }}</td>
    <td>{{ portfolio.resume }}</td>
    <td>{% for techno in portfolio.technos %}{{ techno.name }} {% endfor%} </td>
        +
    {% endfor %}#}

</div>
{% endblock %}
