<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1>Message de {{ contact.name }} :</h1>
        <h2>{{ contact.subject }}</h2>
        <p>{{ contact.message }}</p><br>

        <p> Email : {{ contact.email }}</p>
        <p> Répondre par téléphone : {{ contact.phone  ?? ''}}</p>
    </body>
</html>