{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Me contacter{% endblock %}
{% block stylesheets %}
{#
    {{ encore_entry_link_tags('contact') }}
#}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center py-5">
        <button class="btn btn-secondary">{{ button_label|default('Envoyer') }}</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

